* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.bg-white {
  background-color: white;
}

.green-text {
  color: rgb(4, 170, 108);
}

.red-text {
  color: rgb(219, 8, 64);
}

.card span {
  font-weight: 300;
}

select {
  max-width: 100px;
}